button {
	background-color: aqua;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 7px;
	cursor: pointer;
	border: none;
	transition: all 0.3s ease;
}

button:hover {
	height: 50px;
	width: 200px;
}
